body {
    padding: 0px;
    margin: 0px;
    background-color:rgb(221, 233, 236);
}

#main-body {
    display: flex;
    color: rgb(31, 61, 70);
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: sinete, sans-serif;
    font-size: 75px;
    font-weight: 400;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 0;
}

#sub-title {
    font-family: sinete, sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
}


#homepage-img {
    height: auto;
    width: 500px;
    border: 2.5px solid rgb(31, 61, 70);
    border-radius: 5px;
}

#nav-bar-div {
    display: flex;
    background-color: rgb(90, 150, 168);
    padding: 20px;
    justify-content: space-around;
}

#nav-bar-div a {
    color: white;
    text-decoration: none;
}

#nav-bar-div a:hover {
    color: rgb(172, 172, 172);
}

#footer {
    position: relative;
    padding-top: 10px;
    padding-bottom: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(90, 150, 168);
    color: rgb(255, 255, 255);
    text-align: center;
}

#three-part-section {
    display:flex;
    background-color: rgb(181, 205, 212);
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 75px;
    padding-top: 25px;
    padding-bottom: 50px;
}


#section-two {
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: center;
}

#youtube-div {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.prev-button {
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-right: 25px solid #b4b4b4;
    border-bottom: 12.5px solid transparent;
    transition: transform 0.2s;
}

.prev-button:active {
    border-right: 25px solid #d3d3d3;
}

.next-button {
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-left: 25px solid #b4b4b4;
    border-bottom: 12.5px solid transparent;
    transition: transform 0.2s;
}

.next-button:active {
    border-left: 25px solid #d3d3d3;
}

.prev-button:hover {
    transform: scale(1.35);
}

.next-button:hover {
    transform: scale(1.35);
}

.visible {
    height: 250px;
    width: 400px;
    border: 5px solid rgb(31, 61, 70);
    border-radius: 5px;
}

.invisible {
    display: none;
}

#section-one a {
    color: rgb(31, 61, 70);
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

#section-one a:hover {
    background-color: rgb(152, 173, 180);
}

img {
    user-select: none;
}







